<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
          integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<style>
body {
    background-image:  url("images\glassy.jpg");
    background-color: #cccccc;
}
#text_font{
font-family: "Comic Sans MS", cursive, sans-serif;
font-size:45px;
letter-spacing: 2px;
word-spacing: 2px;
color: #000000;
font-weight: normal;
text-decoration: none solid rgb(68, 68, 68);
font-style: normal;
font-variant: normal;
text-transform: none;
}
</style>

</head>
<body>
        {%if request.user.is_authenticated%}
        <a href="{%url 'logout'%}" style="float:right">
            <button class="btn btn-danger" type="button">Logout</button>
        </a>
        {%endif%}

{% block content %}

{% endblock %}
</body>
</html>