
{% extends "_base.html" %}
{% block content %}
<center>
    {% if students %}
        <table  class="table" border="3">
            <tr>
                <th>Name</th>
                <th>Total</th>
                <th>Email</th>
                    {%if 'onlineapp.change_college' in user_permissions and 'onlineapp.delete_college' in user_permissions%}
                <th>Edit | Delete </th>
                {%endif%}
            </tr>

            {% for i in students %}

            <tr>
                    <td> {{i.name}}</td>
                    <td> {{i.mocktest1__total}}</td>
                    <td> {{i.email}}</td>
                    {%if 'onlineapp.change_college' in user_permissions and 'onlineapp.delete_college' in user_permissions%}
                    <td><a href="{% url 'editstudent' i.id %}">Edit</a> | <a href="{% url 'deletestudent' i.id %}">Delete</a></td>
                    {% endif %}
                </tr>
            {% endfor %}
        </table>
              {% else %}
    <p> There are No Students Yet !</p>
    {%if 'onlineapp.change_college' in user_permissions and 'onlineapp.delete_college' in user_permissions%}
                    <a href="./addstudent"><button> add student </button></a>
        {%endif%}

    {% endif %}

</center>
{% endblock %}